<!-- views/apps.html -->
<nav class="navbar">
    <div class="logo">bizzaOS</div>
    <div class="view">:&nbsp;
        <div class="name">apps</div>
    </div>
    <button id="dialog-close"><i class="bi bi-x-circle-fill"></i></button>
</nav>
<div class="layout">
    <aside class="aside" id="settings-aside">
        <button class="tab item active" data-tab="general">General</button>
        <button class="tab item" data-tab="user">User</button>
        <button class="tab item" data-tab="system">System</button>
    </aside>

    <main class="main" id="settings-main"></main>
</div>