<!-- views/dashboard.html -->
<nav class="navbar">
    <div class="logo">bizzaOS</div>
    <div class="view">:&nbsp;
        <div class="name">dashboard</div>
    </div>
</nav>
<div class="layout">
    <aside class="aside">
        <details name="files">
            <summary class="item">Files</summary>
            <div class="content">
                <button class="button1" command="show-modal" commandfor="files-dialog">Files</button>
            </div>
        </details>
        <details name="settings">
            <summary class="item">Settings</summary>
            <div class="content">
                <button class="button2" command="show-modal" commandfor="settings-dialog">
                    <i class="bi bi-gear"></i>Settings
                </button>
            </div>
        </details>
    </aside>
    <main class="main">
        <div class="dashboard toolbar">
            <div class="label">Apps</div>
            <div class="tools">
                <i class="bi bi-grid-3x2"></i>
                <i class="bi bi-grid-3x2-gap"></i>
            </div>
        </div>
        <ul class="apps">
            <li class="app card">
                <div class="options">
                    <i class="bi bi-grip-horizontal"></i>
                    <i class="bi bi-three-dots-vertical"></i>
                </div>
                <div class="icon"><i class="bi bi-1-circle-fill"></i></div>
                <div class="label">app name</div>
            </li>
            <li class="app card">
                <div class="options">
                    <i class="bi bi-grip-horizontal"></i>
                    <i class="bi bi-three-dots-vertical"></i>
                </div>
                <div class="icon"><i class="bi bi-1-circle-fill"></i></div>
                <div class="label">app name</div>
            </li>
            <li class="app card">
                <div class="options">
                    <i class="bi bi-grip-horizontal"></i>
                    <i class="bi bi-three-dots-vertical"></i>
                </div>
                <div class="icon"><i class="bi bi-1-circle-fill"></i></div>
                <div class="label">app name</div>
            </li>
        </ul>
    </main>
</div>
<dialog id="app-dialog">
    <div id="dialog-root"></div>
</dialog>