<!-- views/dashboard.html -->
<nav class="navbar">
    <div class="logo">bizzaOS</div>
    <div class="view">:&nbsp;
        <div class="name">dashboard</div>
    </div>
</nav>
<div class="layout">
    <aside class="aside">
        <details name="files">
            <summary class="item">Files</summary>
            <div class="content">
                <button command="show-modal" commandfor="files-dialog">Files</button>
            </div>
        </details>
        <details name="settings">
            <summary class="item">Settings</summary>
            <div class="content">
                <button command="show-modal" commandfor="settings-dialog">Settings</button>
            </div>
        </details>
    </aside>
    <main class="main">
        <!-- Main Content -->
    </main>
</div>
<dialog id="app-dialog">
    <div id="dialog-root"></div>
</dialog>