<!-- views/settings.html -->
<nav class="navbar">
    <div class="logo">bizzaOS</div>
    <div class="view">:&nbsp;<div class="name">settings</div>
    </div>
    <button id="dialog-close">Close</button>
</nav>

<div class="layout">
    <aside class="aside" id="settings-aside">
        <button class="tab active" data-tab="general">General</button>
        <button class="tab" data-tab="appearance">Appearance</button>
        <button class="tab" data-tab="system">System</button>
    </aside>

    <main class="main" id="settings-main"></main>
</div>