/* css/dashboard.css */
@import url(/css/variables.css);

:root {
    --navbar-bg: var(--color-navbar);
    --navbar-font-color: var(--color-text);
    --navbar-border: 1px solid var(--color-border-dark);

    --aside-bg: var(--color-aside);
    --aside-font-color: var(--color-text);
    --aside-border: 1px solid var(--color-border);

    --main-bg: var(--color-main);
    --main-font-color: var(--color-text);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    height: var(--navbar-height);
    background: var(--navbar-bg);
    color: var(--navbar-font-color);
    display: flex;
    align-items: center;
    padding: var(--navbar-padding);
    border-bottom: var(--navbar-border);
}

.navbar .logo {
    color: var(--navbar-logo-color);
}

.navbar .view {
    display: inline-flex;
    color: var(--navbar-view-color);
}

.layout {
    display: flex;
    height: calc(100vh - var(--navbar-height));
    overflow: hidden;
}

.aside {
    overflow-y: auto;
    width: var(--aside-width);
    background: var(--aside-bg);
    color: var(--aside-font-color);
    border-right: var(--aside-border);
}

.main {
    overflow-y: auto;
    flex: 1;
    background: var(--main-bg);
    color: var(--main-font-color);
    padding: var(--main-padding);
}


/* aside accordion */
.aside details {
    background: var(--aside-bg);
    color: var(--aside-font-color);
    border-bottom: 1px solid var(--color-border);
}

.aside .content {
    background: var(--color-details-content);
    padding: 8px;
    border-top: 1px solid var(--color-border);

    /* standard */
    user-select: none;
    /* Safari */
    -webkit-user-select: none;
}

.aside summary {
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--aside-padding);

    /* standard */
    user-select: none;
    /* Safari */
    -webkit-user-select: none;
}

.aside summary::-webkit-details-marker {
    display: none;
}

.aside summary::after {
    font-family: "bootstrap-icons";
    content: "\F4FE";
}

.aside details[open] summary::after {
    font-family: "bootstrap-icons";
    content: "\F2EA";
}

/* Dialog */
dialog[open] {
    position: fixed;
    inset: 0;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

dialog::backdrop {
    margin: 0;
}

/* toolbar */
.dashboard.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25em;
}

/* app list */
.apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10em);
    gap: 1em;
    list-style: none;
    padding: 0;
}

/* app card */
.app.card {
    aspect-ratio: 1 / 1;

    display: grid;
    /* options / icon / label */
    grid-template-rows: auto 1fr auto;

    position: relative;
    overflow: hidden;

    background: var(--color-tab-section-content-bg);
    border: 1px solid var(--color-border);
    border-radius: 0.75em;
}

/* app options */
.app.card > .options {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: 2em;
    padding: 0 0.5em;

    font-size: 0.8rem;
    opacity: 0.6;
}

/* app icon */
.app.card>.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app.card>.icon .icon-box {
    aspect-ratio: 1 / 1;
    width: 70%;
    /* 👈 controls size */

    display: flex;
    align-items: center;
    justify-content: center;
}

.app.card>.icon i {
    font-size: 2.5rem;
}

/* app label */
.app.card>.label {
    text-align: center;
    padding: 0.5em;
    font-size: 0.9rem;

    background: var(--color-tab-section-title-bg);
    border-top: 1px solid var(--color-border);
}