/* css/dashboard.css */
@import url(/css/variables.css);

:root {
    --navbar-bg: var(--color-navbar);
    --navbar-font-color: var(--color-text);
    --navbar-border: 1px solid var(--color-border-dark);

    --aside-bg: var(--color-aside);
    --aside-font-color: var(--color-text);
    --aside-border: 1px solid var(--color-border);

    --main-bg: var(--color-main);
    --main-font-color: var(--color-text);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    height: var(--navbar-height);
    background: var(--navbar-bg);
    color: var(--navbar-font-color);
    display: flex;
    align-items: center;
    padding: var(--navbar-padding);
    border-bottom: var(--navbar-border);
}

.navbar .logo {
    color: var(--navbar-logo-color);
}

.navbar .view {
    display: inline-flex;
    color: var(--navbar-view-color);
}

.layout {
    display: flex;
    height: calc(100vh - var(--navbar-height));
    overflow: hidden;
}

.aside {
    overflow-y: auto;
    width: var(--aside-width);
    background: var(--aside-bg);
    color: var(--aside-font-color);
    border-right: var(--aside-border);
}

.main {
    overflow-y: auto;
    flex: 1;
    background: var(--main-bg);
    color: var(--main-font-color);
    padding: var(--main-padding);
}


/* aside accordion */
.aside details {
    background: var(--aside-bg);
    color: var(--aside-font-color);
    border-bottom: 1px solid var(--color-border);
}

.aside .content {
    background: var(--color-details-content);
    padding: 8px;
    border-top: 1px solid var(--color-border);

    /* standard */
    user-select: none;
    /* Safari */
    -webkit-user-select: none;
}

.aside summary {
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--aside-padding);

    /* standard */
    user-select: none;
    /* Safari */
    -webkit-user-select: none;
}

.aside summary::-webkit-details-marker {
    display: none;
}

.aside summary::after {
    font-family: "bootstrap-icons";
    content: "\F4FE";
}

.aside details[open] summary::after {
    font-family: "bootstrap-icons";
    content: "\F2EA";
}

/* Dialog */
dialog[open] {
    position: fixed;
    inset: 0;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    z-index: 9999;
}

dialog::backdrop {
    margin: 0;
}

/* toolbar */
.dashboard.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25em;
}

.reorder-toggle {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
}

/* hide checkbox */
.reorder-toggle input {
    display: none;
}

/* both icons stacked */
.reorder-toggle i {
    font-size: 1.2rem;
    opacity: 0.7;
}

/* default: show first, hide second */
.reorder-toggle .bi-grid-3x2-gap {
    display: none;
}

/* when checked → swap */
.reorder-toggle input:checked~.bi-grid-3x2 {
    display: none;
}

.reorder-toggle input:checked~.bi-grid-3x2-gap {
    display: inline-block;
}

.reorder-toggle i {
    transition: opacity 0.2s ease;
}

.reorder-toggle:hover i {
    opacity: 1;
}

/* sortablejs css */
/* dragging item */
.drag-chosen {
    transform: scale(1.05);
    opacity: 0.9;
    z-index: 10;
}

/* placeholder */
.drag-ghost {
    opacity: 0.3;
}

/* while dragging */
.drag-dragging {
    cursor: grabbing !important;
}

/* body state */
body.drag-active {
    user-select: none;
}

/* Applications */
/* app list */
.apps {
    list-style: none;
    display: grid;
    gap: 1.25em;
    grid-template-columns: repeat(auto-fill, 10em);
    padding: 0.4em 0.5em;
}

.apps.reorder-mode {
    background: var(--color-tab-section-content-bg);
    border-radius: 0.9em;
    border: 1px solid var(--color-border-dark);
}

.apps.reorder-mode .bi-grip-horizontal {
    opacity: 1;
}

.apps.reorder-mode .app.card:hover .bi-grip-horizontal {
    opacity: 1;
}

/* app card */
.app.card {
    display: grid;
    position: relative;
    /* icon / label */
    grid-template-rows: 1fr auto;
    aspect-ratio: 1 / 1.1;
    width: 10em;
    overflow: hidden;
    background: var(--color-tab-section-content-bg);
    border: 1px solid var(--color-border);
    border-radius: 0.75em;
    cursor: pointer;
    transition: 
        transform 0.2s ease,
        opacity 0.2s ease,
        background 0.2s ease;
}

.app.card:hover {
    transform: translateY(-2px) scale(1.01);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* app card options */
.app.card>.options {
    position: absolute;
    top: 8px;
    right: 8px;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.9rem;
    opacity: 0.7;
}

.app.card>.options:hover {
    opacity: 1;
}

/* default state */
.app.card .options {
    display: flex;
    justify-content: flex-end;
}

/* reorder mode → center */
.apps.reorder-mode .app.card .options {
    left: 0;
    right: 0;
    top: 4px;

    display: flex;
    justify-content: center;
}

/* default */
.app.card .bi-grip-horizontal {
    display: none;
    cursor: grab;
}

/* hide by default */
.app.card .bi-three-dots-vertical {
    display: inline-block;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

/* show on hover */
.app.card:hover .bi-three-dots-vertical {
    opacity: 1;
    pointer-events: auto;
}

/* reorder mode */
.apps.reorder-mode .bi-grip-horizontal {
    display: inline-block;
}

.apps.reorder-mode .bi-three-dots-vertical {
    display: none;
}

/* app card icon */
.app.card>.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.75em;
    overflow: hidden;
}

.app.card>.icon>* {
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    max-height: 100%;
    max-width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}

.app.card>.icon img {
    object-fit: contain;
}

.app.card>.icon i {
    font-size: 5.625em;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* app card label */
.app.card>.label {
    text-align: center;
    padding: 0.5em;
    font-size: 0.9rem;
    background: var(--color-tab-section-title-bg);
    border-top: 1px solid var(--color-border-dark);
}